Name: Sama Wahidee 
ID: 1211503
Section: 1
Assignment#: 5

In this assignment you need to analyse a UK-based online retail transactions occurring between 01/12/2009 and 09/12/2011.The company mainly sells unique all-occasion gift-ware. https://www.kaggle.com/datasets/mashlyn/online-retail-ii-uci
Using the data you need to answer the following questions:
Load the dataset into your notebook
Randomly select 200k row from the dataset using your ID as seed.
Using proper grouping and aggregations, answer the following questions:
Determine the total sales per invoice and identify the top 5 invoices.
Compute the total sales per customer and list the top 5 customers.
Identify the top 5 selling items during this period.
Determine the most frequently purchased item pairs by customers and display the top 20 pairs.
The retail store aims to introduce a new promotion targeting items with low sales volume. This promotion entails offering a discounted price for a pair of two different items, with one item being among the top 10 best sellers and the other from the bottom 10 sellers. Customers who purchase these two items together will qualify for the special pricing. Your task is to recommend 10 pairs of items to kickstart this campaign.
Your notebook should be clear to read. Each question should be answered in the following structure:
Markdown cell containing the question and its number
Code cell(s) to make the calculations
Markdown cell for results and interpretation

1.1 Load the dataset into your notebook

In [28]:
import pandas as pd

# Load the dataset
df = pd.read_csv("C:/Users/sama6/OneDrive/Desktop/BZU/Data Science/Assignment5/online_retail_II.csv")

# Display the first few rows of the DataFrame
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

1.2 Randomly select 200k row from the dataset using your ID as seed.

In [27]:
# Set my ID as the seed for reproducibility
seed = 1211503

# Randomly select 200,000 rows from the dataset using my ID as seed
random_sample = df.sample(n=200000, random_state=seed)

# Display the first few rows of the randomly selected sample
random_sample.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
870057,567092,85049E,SCANDINAVIAN REDS RIBBONS,12,2011-09-16 12:48:00,1.25,13196.0,United Kingdom
691254,550829,22722,SET OF 6 SPICE TINS PANTRY DESIGN,1,2011-04-21 10:19:00,3.95,17841.0,United Kingdom
512282,537200,21038,SET/4 MODERN VINTAGE COTTON NAPKINS,3,2010-12-05 14:17:00,2.95,15867.0,United Kingdom
172097,505710,22212,FOUR HOOK WHITE LOVEBIRDS,6,2010-04-25 12:36:00,2.10,12474.0,Germany
1059045,581068,71477,COLOURED GLASS STAR T-LIGHT HOLDER,24,2011-12-07 11:26:00,3.29,16191.0,United Kingdom

2.1 Determine the total sales per invoice and identify the top 5 invoices.

In [26]:
random_sample['TS'] = random_sample['Quantity'] * random_sample['Price']

# Aggregate the sales per invoice
sales_per_invoice = random_sample.groupby('Invoice')['TS'].sum().reset_index()

# Sort the DataFrame by TotalSales column in descending order
sorted_invoices = sales_per_invoice.sort_values('TS', ascending=False)

# Take the first 5 rows
top_5_invoices = sorted_invoices.head(5)

print("Top 5 invoices by total sales:")
top_5_invoices

Top 5 invoices by total sales:

       Invoice        TS
24192   556444  38970.00
17393   537659  11892.48
15080   531516  11195.96
21957   550461  11171.40
33644  A563185  11062.06

These invoices represent the highest total sales values among all transactions in the dataset.

2.2 Compute the total sales per customer and list the top 5 customers.

In [92]:
# Calculate the total sales for each row
random_sample['TS'] = random_sample['Quantity'] * random_sample['Price']

# Aggregate the sales per customer
sales_per_customer = random_sample.groupby('Customer ID')['TS'].sum().reset_index()

# Sort the DataFrame by TotalSales column in descending order
sorted_customers = sales_per_customer.sort_values('TS', ascending=False)

# Take the first 5 rows
top_5_customers = sorted_customers.head(5)

print("Top 5 customers by total sales:")
top_5_customers

Top 5 customers by total sales:

      Customer ID         TS
5418      18102.0  108417.64
2177      14646.0   95647.35
1704      14156.0   55448.12
2420      14911.0   50983.41
2594      15098.0   38970.00

These customers have contributed the most to the company's revenue during the specified time frame. It is crucial for the business to focus on retaining and nurturing these high-value customers to ensure sustained profitability.

2.3 Identify the top 5 selling items during this period.

In [32]:
# Aggregate the total quantity sold for each item
item_sales = random_sample.groupby('StockCode')['Quantity'].sum().reset_index()

# Sort the DataFrame by Quantity column in descending order
top_selling_items = item_sales.sort_values('Quantity', ascending=False).head(5)

print("Top 5 selling items during the period:")
top_selling_items

Top 5 selling items during the period:

     StockCode  Quantity
4139    85123A     21591
3855     84879     19629
599      21212     18582
3437     84077     18203
4111    85099B     17094

These items have been the most popular and have contributed significantly to the overall sales volume during the specified time frame. Understanding the demand for these items can help in inventory management and marketing strategies.

2.4 Determine the most frequently purchased item pairs by customers and display the top 20 pairs.

In [66]:
from itertools import combinations
from collections import Counter

# Group the dataset by Invoice and aggregate the descriptions into lists
invoice_descriptions = random_sample.groupby('Invoice')['Description'].apply(list)

# Initialize Counter for item pairs
pairs_counter = Counter()

# Iterate over each list of descriptions
for descriptions in invoice_descriptions:
    # Generate all possible pairs of descriptions in the list
    item_pairs = combinations(descriptions, 2)
    # Update the counter with the pairs
    for pair in item_pairs:
        pairs_counter[pair] += 1

# Sort the counter by frequency in descending order
sorted_pairs = sorted(pairs_counter.items(), key=lambda x: x[1], reverse=True)

# Get the top 20 most common item pairs
top_20_item_pairs = sorted_pairs[:20]

# Print the result
print("Top 20 most frequently purchased item pairs by customers:")
for pair, frequency in top_20_item_pairs:
    print(pair, "-", frequency)

Top 20 most frequently purchased item pairs by customers:
('WHITE HANGING HEART T-LIGHT HOLDER', 'RED HANGING HEART T-LIGHT HOLDER') - 36
('PINK REGENCY TEACUP AND SAUCER', 'GREEN REGENCY TEACUP AND SAUCER') - 33
('JUMBO STORAGE BAG SUKI', 'JUMBO BAG RED RETROSPOT') - 32
('JUMBO STORAGE BAG SUKI', 'JUMBO SHOPPER VINTAGE RED PAISLEY') - 28
('PACK OF 60 PINK PAISLEY CAKE CASES', '60 TEATIME FAIRY CAKE CASES') - 27
('RED HANGING HEART T-LIGHT HOLDER', 'WHITE HANGING HEART T-LIGHT HOLDER') - 27
('HEART OF WICKER LARGE', 'HEART OF WICKER SMALL') - 26
('HEART OF WICKER SMALL', 'HEART OF WICKER LARGE') - 25
('JUMBO SHOPPER VINTAGE RED PAISLEY', 'JUMBO BAG RED RETROSPOT') - 24
('WOODEN PICTURE FRAME WHITE FINISH', 'WOODEN FRAME ANTIQUE WHITE ') - 23
('REGENCY CAKESTAND 3 TIER', 'WHITE HANGING HEART T-LIGHT HOLDER') - 23
('JUMBO BAG RED RETROSPOT', 'JUMBO BAG STRAWBERRY') - 23
('JUMBO BAG RED RETROSPOT', 'JUMBO  BAG BAROQUE BLACK WHITE') - 23
('GREEN REGENCY TEACUP AND SAUCER', 'ROSES REGENCY TEACUP AND SAUCER ') - 23
('ALARM CLOCK BAKELIKE GREEN', 'ALARM CLOCK BAKELIKE RED ') - 23
('JUMBO STORAGE BAG SUKI', 'JUMBO BAG STRAWBERRY') - 22
('60 TEATIME FAIRY CAKE CASES', 'PACK OF 60 PINK PAISLEY CAKE CASES') - 21
('JUMBO BAG STRAWBERRY', 'JUMBO BAG RED RETROSPOT') - 21
('LUNCH BAG  BLACK SKULL.', 'LUNCH BAG CARS BLUE') - 21
('ROSES REGENCY TEACUP AND SAUCER ', 'GREEN REGENCY TEACUP AND SAUCER') - 21

These pairs represent the combinations of items that were most frequently purchased together by customers during the analyzed period.
Note: I did not find a way to print them in groups except through combinations

2.5 The retail store aims to introduce a new promotion targeting items with low sales volume. This promotion entails offering a discounted price for a pair of two different items, with one item being among the top 10 best sellers and the other from the bottom 10 sellers. Customers who purchase these two items together will qualify for the special pricing. Your task is to recommend 10 pairs of items to kickstart this campaign.

In [90]:
# Getting the top 10 && the bottom 10 sellimg items 
top10Sold = random_sample.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(10)

# Filter the original DataFrame to include only the top 10 selling items
random_sample_top10 = random_sample[random_sample['Description'].isin(top10Sold.index)]

# Group the filtered DataFrame by 'Description' and sum the 'Quantity' to get the total quantity sold for each item
top10Sold_filtered = random_sample_top10.groupby('Description')['Quantity'].sum().sort_values(ascending=False)
bottom10Sold = random_sample.groupby('Description')['Quantity'].sum().sort_values(ascending=True).head(10)

top10 = top10Sold.index.tolist() # Convert them to lists
bottom10 = bottom10Sold.index.tolist()

# Create pairs by pairing each top item with each bottom item
pairs = [(top, bottom) for top in top10
          for bottom in bottom10
          if top != bottom
         ]

pairs[:10] #the recommended 10 pairs result

[('ASSORTED COLOUR BIRD ORNAMENT', 'Ebay sales by the box.'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'missing'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'given away'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'RED POLKADOT PUDDING BOWL'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'ebay sales'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'WHITE WITH BLACK CATS PLATE'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'check'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'mouldy, thrown away.'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'missing (wrongly coded?)'),
 ('ASSORTED COLOUR BIRD ORNAMENT', 'thrown away')]

These pairs consist of a top-selling item and a bottom-selling item, which can be used for the promotional campaign as suggested.